.list-item {
  position: relative;
  padding: 10px 15px;
  margin-bottom: -1px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.list-item:hover {
  background-color: #FCFCFC;
}

.no-icon {
  display: inline-block;
  width: 24px;
}

md-icon {
  font-weight: bold;
  font-size: inherit;
  height: 0;
}

.list-item .code {
  font-weight: bold;
}

.todetail {
  position: absolute;
  top: 6px;
  right: 0;
  line-height: 25px;
  font-size: 13px;
  font-weight: bold;
  color: #444;
  display: none;
}

.list-item:hover .todetail  {
  display: block;
}

.list-item.level {
   border-top: 0;
}