<div class="search-component">
  <h5 class="search-label">Полнотекстовый поиск</h5>
  <div class="search-content"
       [@shown]="shown">
    <clsf-search-by-text>
    </clsf-search-by-text>
  </div>
  <div style="text-align: center">
    <button type="button"
            class="toggle-visibility-button"
            aria-label="Left Align"
            (click)="toggleVisibility()">
      <span *ngIf="shown" class="fa fa-chevron-up"></span>
      <span *ngIf="!shown" class="fa fa-chevron-down"></span>
    </button>
  </div>
</div>
