@import '../../variables';

.search-component {
  padding: 10px 0 0 10px;
  background-color: $second;
  margin-bottom: 10px;

  .search-label {
    padding-left: 15px;
    color: $tableHeaderColor;
    margin-bottom: 0;
  }

  .search-content {
    padding: 30px 10px 10px 10px;
  }

  .toggle-visibility-button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
  }
}


