<div class="search-component">
  <h5 class="search-label">{{"element_search.full_text_search" | translate}}</h5>
  <div class="search-content"
       [@shown]="shown">
    <div class="search-form form-inline">
      <input #searchInput class="search-input form-control" (keydown)="searchKeyDown($event.keyCode)"/>
      <select class="form-control" (change)="changeClassificator($event.target.value)">
        <option *ngFor="let classificator of classificators | async" value="{{classificator.code}}">
          {{classificator.name}}
        </option>
      </select>
      <button class="btn btn-info" (click)="search()">{{"element_search.search" | translate}}</button>
    </div>
    <div class="search-result">
      <h5 class="loading-label" *ngIf="loading">
        {{"loading_with_ellipsis" | translate}}
      </h5>
      <table *ngIf="!loading && !elementsHaveNotSearchedYet" cellpadding="5px">
        <thead>
        <th>{{"element_search.code_column" | translate}}</th>
        <th>{{"element_search.name_column" | translate}}</th>
        <th class="show-in-tree-column"></th>
        </thead>
        <tbody>
        <tr *ngFor="let element of tableData">
          <td>{{element.code}}</td>
          <td>{{element.name}}</td>
          <td>
            <a href="#" (click)="showInTree(element.parentCode, element.code, activeClassificatorCode, $event)">
              {{"show_in_tree" | translate}}
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div style="text-align: center">
    <button type="button"
            class="toggle-visibility-button"
            aria-label="Left Align"
            (click)="toggleVisibility()">
      <span *ngIf="shown" class="fa fa-chevron-up"></span>
      <span *ngIf="!shown" class="fa fa-chevron-down"></span>
    </button>
  </div>
</div>
