/* Indents */
@import "../../variables";

.indent-0, .indent-1, .indent-2, .indent-3, .indent-4, .indent-5 {
  display: inline-block;
}

.indent-1 {
  width: 20px;
}

.indent-2 {
  width: 40px;
}

.indent-3 {
  width: 60px;
}

.indent-4 {
  width: 80px;
}

.indent-5 {
  width: 100px;
}

/* Nodes */

.node-icon {
  width: 20px;
  height: 20px;
  text-align: center;
  display: inline-block;
}

.list-group-item {
  padding-top: 0.55em;
  padding-bottom: 0.55em;
  border-radius: 0;
  background-color: $second;
  color: $fourth;
  border-top: none;
}

.list-group-item:hover {
  //color: #4cacca;
}

.list-group-item:last-child {
  margin-bottom: -1px;
}

.fa.rotated {
  transform: rotate(90deg);
}

.in-progress {
  cursor: wait;
  color: #d3d3d3 !important;
}


.list-group-item .btn-details {
  background-color: $first;
  border-color: $first;
  margin-left: 70px;
  font-size: 13px;
  padding-top: 1px;
  padding-bottom: 1px;
  cursor: pointer;
  display: none;
}

.list-group-item:hover .btn-details {
  display: inline-block;
  opacity: 0.3;
}

.list-group-item:hover .btn-details:hover {
  opacity: 1.0;
}

.general-info-row {
  cursor: pointer;
}
