<li
  [ngClass]="{
  'list-group-item': true,
   'node-treeview4': true,
   'in-progress': gettingChildrenInProgress
  }"
  (click)="toggleTreeNode()">
  <span class="indent-{{level}}"></span>
  <span
    [@expanded]="classificator.expanded"
    [ngClass]="{
    'fa': true,
    'node-icon': !gettingChildrenInProgress,
    'fa-chevron-right': !gettingChildrenInProgress && classificator.hasChildren,
    'fa-circle-o-notch fa-spin fa-fw': gettingChildrenInProgress
  }"></span>
  {{classificator.name}}
</li>
<div *ngIf="classificator.expanded">
  <clsf-classificator-tree-node *ngFor="let node of classificator?.children"
                                [classificator]="node"
                                [level]="level + 1">
  </clsf-classificator-tree-node>
</div>
