<li
  [ngClass]="{
  'list-group-item': true,
   'node-treeview4': true,
   'in-progress': gettingChildrenInProgress
  }">
  <div class="general-info-row" (click)="toggleTreeNode()">
    <span class="indent-{{element.level}}"></span>
    <span
      [@expanded]="element.expanded"
      [ngClass]="{
    'fa': true,
    'node-icon': !gettingChildrenInProgress,
    'fa-chevron-right': !gettingChildrenInProgress && element.hasChildren,
    'fa-circle-o-notch fa-spin fa-fw': gettingChildrenInProgress
  }"></span>
    {{element.name}}
    <button *ngIf="!withDetailInfo" type="button" class="btn btn-info btn-details" (click)="showDetailInfo($event)">Info
    </button>
    <button *ngIf="withDetailInfo" type="button" class="btn btn-info btn-details" (click)="closeDetailInfo($event)">
      Close
      Info
    </button>
  </div>
  <classificator-tree-node-detail-info
    [detailInfo$]="detailInfo"
    *ngIf="withDetailInfo">
  </classificator-tree-node-detail-info>
</li>
<div *ngIf="element.expanded">
  <clsf-classificator-tree-node [classificatorCode]="classificatorCode" *ngFor="let node of element?.children" [element]="node">
  </clsf-classificator-tree-node>
</div>
