<div class="search-form form-inline">
  <input #searchInput class="search-input form-control" (keydown)="searchKeyDown($event.keyCode)" />
  <select class="form-control" (change)="changeClassificator($event.target.value)">
    <option *ngFor="let classificator of classificators" value="{{classificator.code}}">
      {{classificator.name}}
    </option>
  </select>
  <button class="btn btn-info" (click)="search()">Search</button>
</div>
<div class="search-result">
  <table cellpadding="5px">
    <thead>
    <th>Code</th>
    <th>Name</th>
    <th class="show-in-tree-column"></th>
    </thead>
    <tbody>
    <tr *ngFor="let element of tableData | async">
      <td>{{element.code}}</td>
      <td>{{element.name}}</td>
      <td>
        <a href="#" (click)="showInTree(element.parentCode, element.code, activeClassificatorCode, $event)">
          Показать в дереве
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
