@import "../../variables";

.nav-item {
  .nav-link.active {
    background-color: $second;
  }
  .classificator.active {
    color: $fourth !important;
  }
  .classificator {
    color: $third;
  }
}
