$first: #5A5A5A;
$second: #F8F8F8;
$third: #D6D6D6;
$fourth: #729cba;
$fifth: #EE7546;

//$first: #9C410A;
//$second: #CE8948;
//$third: #735E67;
//$fourth: #90A5BA;
//$fifth: #4B5942;

$usualBorder: 1px solid rgba(0, 0, 0, 0.125);
